@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
:root {
    --header-margin: 80px;
    --font-family: 'Heebo';
    --container-width: 90%;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
  }
  
  body {
    margin-top: var(--header-margin);
  }
  
  .container {
    max-width: var(--container-width);
    display: flex;
    height: 100vh;
  }
  
  @media (max-width: 575px) {
    .container {
      height: max-content;
    }
  }
/* Header */
#header {
    transition: transform 0.3s ease-in-out;
  }
  
  .hide-header {
    transform: translateY(-100%);
  }
  
  .show-header {
    transform: translateY(0);
  }
  
  .navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 400;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  /* End header */
h2{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}
h3{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}
.container{
    width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.portrait{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.projects{
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.my_stack{
    justify-content: center;
    align-items: center;
    width: 1140px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
/* About me */
.avatar {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-bottom: 20px;
}

/* End about me */

/* Stack */
.skill-icon{
  margin: 5px;
  width: 100px;
  height: 100px;
}

/* End stack */