body{
    font-family: 'Heebo';
    margin: 0px;
}

header a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
header a:hover{
    color: rgb(8, 126, 230);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
}
.p1{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}
header{
    vertical-align: 15px;
    
}
.about_me{
    width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
}
.img img{
    width: 350px;
}
